language: python
python:
    - '3.6'
install:
    - python setup.py install
    - pip install -r requirements.txt
script:
    - python setup.py test --addopts tests_cli
    - python setup.py test --addopts tests_web
    - python setup.py test --addopts tests_own
    - sh -c 'cd docs && make html'
