{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"bug\", \"color\": \"771100\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "token <TOKEN>"}, "method": "PATCH", "uri": "https://api.github.com/repos/kravemir/config/labels/bug"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":752295316,\"url\":\"https://api.github.com/repos/kravemir/config/labels/bug\",\"name\":\"bug\",\"color\":\"771100\",\"default\":true}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4973", "X-RateLimit-Reset": "1510835993", "ETag": "\"833989df69d70605dab38b7ad5c66678\"", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/kravemir/config/labels/bug"}, "recorded_at": "2017-11-16T11:57:39"}], "recorded_with": "betamax/0.8.0"}