{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"bug\", \"color\": \"AACC99\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "token <TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/kravemir/config/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Validation Failed\",\"errors\":[{\"resource\":\"Label\",\"code\":\"already_exists\",\"field\":\"name\"}],\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "422 Unprocessable Entity", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4975", "X-RateLimit-Reset": "1510835993", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 422, "message": "Unprocessable Entity"}, "url": "https://api.github.com/repos/kravemir/config/labels"}, "recorded_at": "2017-11-16T11:57:38"}], "recorded_with": "betamax/0.8.0"}