{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"improvement\", \"color\": \"AACC99\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "token <TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/kravemir/config/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"id\":752295933,\"url\":\"https://api.github.com/repos/kravemir/config/labels/improvement\",\"name\":\"improvement\",\"color\":\"AACC99\",\"default\":false}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "201 Created", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4976", "X-RateLimit-Reset": "1510835993", "ETag": "\"4c128706d9a4c6def9f0b88d97e084c8\"", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "", "Location": "https://api.github.com/repos/kravemir/config/labels/improvement", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 201, "message": "Created"}, "url": "https://api.github.com/repos/kravemir/config/labels"}, "recorded_at": "2017-11-16T11:57:38"}], "recorded_with": "betamax/0.8.0"}