{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"new_label\", \"color\": \"123456\"}"}, "headers": {"Content-Type": "application/json", "Authorization": "token <TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/kravemir/not-existing-repo/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4974", "X-RateLimit-Reset": "1510835993", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/kravemir/not-existing-repo/labels"}, "recorded_at": "2017-11-16T11:57:39"}], "recorded_with": "betamax/0.8.0"}