{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/repos/kravemir/config/labels/bug"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"Content-Type": "application/octet-stream", "Status": "204 No Content", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4972", "X-RateLimit-Reset": "1510835993", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 204, "message": "No Content"}, "url": "https://api.github.com/repos/kravemir/config/labels/bug"}, "recorded_at": "2017-11-16T11:57:40"}], "recorded_with": "betamax/0.8.0"}