{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/user/repos?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":2604764,\"name\":\"ddccontrol\",\"full_name\":\"ddccontrol/ddccontrol\",\"owner\":{\"login\":\"ddccontrol\",\"id\":1137662,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/1137662?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ddccontrol\",\"html_url\":\"https://github.com/ddccontrol\",\"followers_url\":\"https://api.github.com/users/ddccontrol/followers\",\"following_url\":\"https://api.github.com/users/ddccontrol/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ddccontrol/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ddccontrol/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ddccontrol/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ddccontrol/orgs\",\"repos_url\":\"https://api.github.com/users/ddccontrol/repos\",\"events_url\":\"https://api.github.com/users/ddccontrol/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ddccontrol/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/ddccontrol/ddccontrol\",\"description\":\"DDC Control\",\"fork\":false,\"url\":\"https://api.github.com/repos/ddccontrol/ddccontrol\",\"forks_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/forks\",\"keys_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/teams\",\"hooks_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/hooks\",\"issue_events_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/events\",\"assignees_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/tags\",\"blobs_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/languages\",\"stargazers_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/stargazers\",\"contributors_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/contributors\",\"subscribers_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/subscribers\",\"subscription_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/subscription\",\"commits_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/merges\",\"archive_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/downloads\",\"issues_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/ddccontrol/ddccontrol/deployments\",\"created_at\":\"2011-10-19T08:07:32Z\",\"updated_at\":\"2017-11-15T21:28:22Z\",\"pushed_at\":\"2017-07-22T21:28:10Z\",\"git_url\":\"git://github.com/ddccontrol/ddccontrol.git\",\"ssh_url\":\"git@github.com:ddccontrol/ddccontrol.git\",\"clone_url\":\"https://github.com/ddccontrol/ddccontrol.git\",\"svn_url\":\"https://github.com/ddccontrol/ddccontrol\",\"homepage\":\"\",\"size\":1548,\"stargazers_count\":41,\"watchers_count\":41,\"language\":\"C\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":10,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":11,\"forks\":10,\"open_issues\":11,\"watchers\":41,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":2604795,\"name\":\"ddccontrol-db\",\"full_name\":\"ddccontrol/ddccontrol-db\",\"owner\":{\"login\":\"ddccontrol\",\"id\":1137662,\"avatar_url\":\"https://avatars2.githubusercontent.com/u/1137662?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ddccontrol\",\"html_url\":\"https://github.com/ddccontrol\",\"followers_url\":\"https://api.github.com/users/ddccontrol/followers\",\"following_url\":\"https://api.github.com/users/ddccontrol/following{/other_user}\",\"gists[...]
